.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;

    border-color: #000000;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.1);

    background-color: #EEEEEE;

    padding-top: 10px;
    text-align: center;
}