.formLogin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.blockForgotPassword {
    text-align: center;
}

.blockExternalServices {
    padding-top: 15px;
}

.blockClose {
    padding-top: 15px;
    text-align: center;
}